nav{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 16px ;
}

.nav-links-group{
    transition: 1s;
}

.nav-links-group2{
    display: inline-block;
}

.nav-links{
    display: flex;
    gap: 20px;
}
.nav-link-item{
    opacity: 50%;
    transition: 0.2s;
    font-size: 18px;
    line-height: 40px;
}

.nav-link-item:hover{
    font-weight: bold;
    cursor: pointer;
    color: black;
    opacity: 100%;
}

.nav-info{
    margin-left: 57px;
}

.nav-info > div{
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-btn{
    width: 90px;
    height: 36px;
    color:  #00D36D;
    background-color: #fff;
    border: 1px solid #00D36D;
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover{
    background-color: #00D36D;
    color: #fff;
}
.search-item{
 margin-top: 18px;
}

.nav-toggler{
    display: none;
}

.nav-link-item > a{
    text-decoration: none;
    color: gray;
}
.logo > a{
    width: 100%;
}

@media screen and (max-width: 1263px) {

    nav{
        justify-content: center;
        gap: 20px;
    }

    .nav-info{
        margin-left: 47px;
    }

    .logo{
        height: 70px;
        display: flex;
        flex-grow: 1;
    }

    .logo > img {
        width: 100%;
        height: 100%;
    }

    .nav-links{
        gap: 10px;
    }

    .nav-link-item{
        font-size: 15px;
        line-height: 35px;
    }
    .search-item{
        margin-top: 16px;
    }

    .search-item > img{
        width: 20px;
        height: 20px;
    }

    .nav-btn{
        width: 70px;
        height: 26px;
    }
}

@media screen and (max-width: 1077px) {

    nav{
        justify-content: center;
        gap: 10px;
    }

    .nav-info{
        margin-left: 17px;
    }

    .logo{
        height: 60px;
    }

    .logo > img {
        width: 100%;
        height: 100%;
    }

    .nav-links{
        gap: 10px;
    }

    .nav-link-item{
        font-size: 11px;
        line-height: 25px;
    }
    .search-item{
        margin-top: 14px;
    }

    .search-item > img{
        width: 15px;
        height: 15px;
    }

    .nav-btn{
        width: 50px;
        height: 16px;
        font-size: 10px;
    }

    .nav-location > img{
        width: 15px;
        height: 15px;
    }

    .nav-location > p {
        font-size: 10px;
    }
}
@media screen and (max-width: 688px) {
   nav{
     display: flex;
     padding: 10px;
   }

   .nav-links-group{
    position: relative;
    transition: 1s;
    animation-name: sekin;
    transform: translateX(-100%);
    border-radius: 20px 50px 80px 10px;
   }

   .logo{
    display: flex;
    align-items: center;
   }

   .nav-toggler{
    display: flex !important;
    align-items: center;
   }

    .nav-links-group2{
    display: flex;
    flex-direction: column;
    background-color: #00D36D;
    height: auto;
    position: fixed;
    top: 70px;
    left: 0px;
    animation-name: sekin;
    animation-duration: 4s;
    transform: translateX(0);
    transition: 1s;

   }
   
   .nav-links{
    display: none;
   }

  .nav-links2{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
 
  .nav-info{
    display: none;
  }
}