*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Geometria';
}

.container{
    max-width: 1300px;
    height: auto;
    margin: auto;

}

@font-face {
    font-family: 'Geometria';
    src: url("./fonts/geometria_light.otf");
}
@font-face {
    font-family: 'Geometria-Bold';
    src: url("./fonts/geometria_bold.otf");
}
